<h1>投稿一覧</h1>
<div class="center-text">
  <%= link_to "新しい投稿", new_post_path, class: "link-button" %></div>


<ul>
  <% @posts.each do |post|%>
  <li>
    <p class="post-id-title">ID:<%= post.id %>/<%= post.title%></p>
    <p class="post-content"><%= post.content%></p>
    <span>
      <small class="post-date"><%= post.created_at %></small>
    </span>
    <div class="edit-delete-container">
      <%= link_to "編集", edit_post_path(post), class: "link-edit-button" %>
      <%= button_to "削除", post_path(post), method: :delete, class: "link-delete-button"%>
    </div>
  </li>
  <% end %>
</ul>